/* Styling the update and delete buttons */
.action-button {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 100px; /* Fixed width for consistency */
}

/* Specific styles for the update button */
.update-button {
  background-color: #4a60dc;
  color: white;
  border: none;
}

/* Specific styles for the delete button */
.delete-button {
  background-color: red;
  color: white;
  border: none;
}

/* Hover effects */
.update-button:hover,
.delete-button:hover {
  opacity: 0.9;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .create-button-container {
    height: auto;
    margin-bottom: 20px;
  }

  .create-button,
  .action-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .user-table th,
  .user-table td {
    padding: 5px;
    font-size: 14px;
  }
}
